.list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 44px;
  margin-top: 44px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .list {
    gap: 32px;
    justify-content: space-around;
  }
}
