/* @media screen and (max-width: 767px) {
  .sectionMain {
    position: relative;
    padding-top: 60px;
    background-image: url('../../images/bg-mobile.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sectionMain {
      background-image: url('../../images/bg-mobile2xjpg.jpg');
    }
  }
} */

.sectionMain {
  position: relative;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  .wrapper {
    background-image: url('../../images/dogs-mobile@1x.png');
    background-repeat: no-repeat;
    position: absolute; /* Встановлюємо позицію елемента як абсолютну */
    bottom: 0; /* Вирівнюємо елемент за нижнім краєм секції */
    left: 0; /* Вирівнюємо елемент за лівим краєм секції */
    width: 474px; /* Займаємо всю ширину секції */
    height: 50px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .wrapper {
      background-image: url('../../images/dogs-mobile@2x.png');
    }
  }
}

@media screen and (min-width: 768px) {
  .sectionMain {
    background-image: url('../../images/dogs-tablet@1x.png'),
      url('../../images/bg-tablet.jpg');
    background-position: bottom, 22% calc(9vh + 100%);
    background-repeat: no-repeat;
    height: 100vh;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sectionMain {
      background-image: url('../../images/dogs-tablet@2x.png'),
        url('../../images/bg-tablet2x.jpg');
    }
  }
}

@media screen and (min-width: 1280px) {
  .sectionMain {
    background-image: url('../../images/dogs-desktop@1x.png'),
      url('../../images/bg-desctop.jpg');
    background-position: bottom, 60% calc(22vh + 100%);
    background-repeat: no-repeat;
    background-size: contain;
    height: calc(100vh - 99px);
    padding-top: 0px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .sectionMain {
      background-image: url('../../images/dogs-desktop@2x.png'),
        url('../../images/bg-desctop2x.jpg');
    }
  }
}

.text {
  margin-bottom: 30px;
}
