.cardItem {
  width: 280px;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  padding: 16px 12px;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .cardItem {
    width: 336px;
    height: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .cardItem {
    width: 394px;
  }
}

.customTypography {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .customTypography {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .customTypography {
    font-size: 16px;
  }
}

.customCardMedia {
  margin-right: 16px;
}

@media screen and (min-width: 768px) {
  .customCardMedia {
    margin-right: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .customCardMedia {
    margin-right: 20px;
  }
}

.friendLink {
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #54adff;
  transition: transform 0.3s ease;
}

.friendLink:hover {
  transform: scale(1.2);
}
