.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.title {
  margin: 0;
  padding: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 38px;
  color: #111111;
}

.petCardWrapper {
  gap: 15px;
  margin-bottom: 21px;
  padding: 20px 8px 25px 8px;

  background-color: #ffffff;

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
}

.addBtn {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  color: #fef9f9;
  background-color: #54adff;
  background-color: aqua;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  text-align: center;
  width: 248px;
  height: 40px;
}

.addBtn:hover,
.addBtn:focus {
  background-color: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.picture {
  border-radius: 20px;
  border: 1px solid rgb(151, 146, 146);
  margin-right: auto;
  margin-left: auto;
}
