.wrapper {
  /* background-color: #ffffff;
  padding: 20px 8px 25px 8px;

  border: 1px solid black;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px; */
}

.userInfo {
  margin-top: 62px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.wrapperForm {
  /* width: 300px;
  height: 520px; */
  max-width: fit-content;
  padding: 20px 8px 25px 8px;
  background-color: #ffffff;

  border: 1px solid black;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;

  display: flex;
}
.form {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
}

.label {
  background-color: aqua;
  font-size: 14px;

  display: inline-flex;
}

.input {
  display: inline-flex;
  background-color: bisque;
}

@media screen and (min-width: 280px) {
  .wrapperForm {
  }
}

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    background-color: antiquewhite;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
} */
