.wrapper {
  border: 1px solid black;
}

.title {
  margin-top: 62px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 38px;
  color: #111111;
}

.avatar {
  width: 185px;
  height: 185px;
  border: 1px solid rgb(46, 66, 221);
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
}

.wrapperFile {
  /* display: inline-flex; */
  display: flex;
  align-items: center;

  border: 1px solid rgb(221, 46, 84);
  margin-left: auto;
  margin-right: auto;
}

.avatarL {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  /* margin-bottom: 22px; */

  border: 1px solid rgb(46, 66, 221);
  background-color: aliceblue;
}

.avatarBtn {
  display: none;
}

.Btn {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.forma {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 21px;

  background-color: #ffffff;
  padding: 20px 8px 25px 8px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;

  border: 1px solid rgb(143, 53, 53);
}

.formWrapper {
  border: 1px solid rgb(28, 132, 64);

  min-width: auto;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  border: 1px solid rgb(143, 53, 53);
  display: flex;

  justify-content: space-between;
  /* justify-content: space-around; */
  align-items: center;
}

.label {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #111111;

  background-color: aliceblue;
}

.inputContainer {
  position: relative;
}

.input {
  padding: 6px 6px 6px 12px;
  min-width: 190px;
  border: 1px solid #54adff;
  border-radius: 20px;

  max-width: 300px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #111111;
}

.checkbox {
  position: absolute;
  top: -8px;
  right: 2px;

  /* padding: 5px; */
  cursor: pointer;

  /* border: 1px solid #54adff; */
}

/* .checkbox:hover input ~ .editIcon {
  opacity: 0.8;
} */

.editIcon {
  position: absolute;
  right: 12px;
}

/* @media screen and (min-width: 280px) {

} */

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    background-color: antiquewhite;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
} */
