.errorComent {
  position: absolute;
  bottom: -20%;
  left: 5%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f43f5e;
}

.ErrorText {
  position: absolute;
  bottom: -25%;
  right: 67%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f43f5e;
}

.ErrorTextLow {
  position: absolute;
  bottom: -5%;
  right: 76%;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #f43f5e;
}
/* ThirdForm  My Pet */
.photoContainer {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 8px;
  position: relative;
}

.labelAddPhoto {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  color: #111111;
}

.labelPhoto {
  width: 112px;
  height: 112px;
  background-color: #cce4fb;
  border-radius: 20px;
  overflow: hidden;
}

.previewPhoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.plusIcon {
  width: 30px;
  height: 30px;
  margin-left: 42px;
  margin-top: 42px;
  stroke: #54adff;
}

.commentsContainerMyPet {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 14px;
  margin-right: 8px;
  margin-left: 8px;
}

.labelComments {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  color: #111111;
  margin-bottom: 8px;
}

.inputComments {
  width: 242px;
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 16px;
  border: 1px solid #54adff;
  border-radius: 20px;
  resize: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .photoContainer {
    gap: 32px;
  }

  .ErrorTextLow {
    bottom: 25%;
  }

  .labelAddPhoto {
    font-size: 20px;
    display: block;
    margin-bottom: 2px;
  }

  .labelPhoto {
    width: 182px;
    height: 182px;
    border-radius: 40px;
  }
  .plusIcon {
    width: 48px;
    height: 48px;
    margin-left: 68px;
    margin-top: 68px;
  }

  .commentsContainerMyPet {
    margin-bottom: 4px;
    margin-right: 8px;
  }

  .labelComments {
    font-size: 20px;
  }

  .inputComments {
    width: 396px;
    height: 80px;
    font-size: 16px;
  }
}

/* Thirf form for Sale */
.wparForm {
  display: flex;
  flex-direction: column;
}

.sexContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  gap: 12px;
}
.labelSex {
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
}
.sexBlock {
  display: flex;
  margin-bottom: 8px;
}
.sexButton {
  display: flex;
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: #888888;
  font-size: 14px;
  justify-content: center;
  flex-direction: row;
  padding-left: 0;
}

.sexButtonChoosed {
  display: flex;
  background-color: inherit;
  cursor: pointer;
  border: none;
  color: #54adff;
  font-size: 16px;
  justify-content: center;
  flex-direction: row;
}
.photoContainerSell {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 8px;
  margin-top: 8px;
  position: relative;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 16px;
  margin-left: 8px;
  position: relative;
}
.label {
  color: #111111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.36;
}

.input {
  border-radius: 40px;
  color: #888888;
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #54adff;
  max-width: 242px;
}
.input:focus {
  border-color: #00c3ad;
}

.errorSex {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36px;
  color: #f43f5e;
}

.ErrorTextLowSell {
  position: absolute;
  font-size: 10px;
  bottom: -10%;
  left: 15%;
  color: #f43f5e;
}
.ErrorTextSellLocation {
  position: absolute;
  bottom: 72%;
  left: 10%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36px;
  color: #f43f5e;
}
.ErrorTextLostLocation {
  position: absolute;
  bottom: 60%;
  left: 10%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36px;
  color: #f43f5e;
}
.ErrorTextPrice {
  position: absolute;
  bottom: 44%;
  left: 10%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36px;
  color: #f43f5e;
}

.errorComentSell {
  position: absolute;
  bottom: -5%;
  left: 10%;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.36px;
  color: #f43f5e;
}
.labelCommentsSell {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33px;
  color: #111111;
  margin-bottom: 8px;
  margin-top: 12px;
}
.inputCommentsLost {
  width: 242px;
  height: 80px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding: 12px 16px;
  border: 1px solid #54adff;
  border-radius: 20px;
  resize: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .pointBlock {
    display: flex;
    flex-direction: row;
  }

  .sexContainer {
    background-color: #fff;
    position: relative;
  }
  .labelSex {
    font-size: 20px;
  }
  .sexBlock {
    margin-bottom: 40px;
  }
  .sexButton {
    font-size: 16px;
    padding-right: 12px;
  }

  .photoContainerSell {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 8px;
  }

  .inputContainer {
    margin-bottom: 38px;
    gap: 8px;
  }

  .label {
    font-size: 20px;
  }

  .input {
    min-width: 396px;
    font-size: 16px;
    padding: 12px;
  }
  .input:not(:last-child) {
    margin-bottom: 16px;
  }
  .labelCommentsSell {
    font-size: 20px;
  }

  .inputCommentsLost {
    width: 396px;
    height: 184px;
    font-size: 16px;
  }

  .errorSex {
    bottom: 25%;
    left: 5%;
    font-size: 12px;
  }

  .ErrorTextLowSell {
    position: absolute;
    font-size: 12px;

    left: 8%;
  }

  .ErrorTextSellLocation {
    position: absolute;
    bottom: 70%;
    left: 5%;
    font-size: 12px;
  }

  .ErrorTextLostLocation {
    position: absolute;
    bottom: 70%;
    left: 5%;
    font-size: 12px;
  }
  .ErrorTextPrice {
    position: absolute;
    bottom: 38%;
    left: 5%;
    font-size: 12px;
  }

  .errorComentSell {
    position: absolute;
    bottom: -5%;
    left: 5%;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sexPhotoBlock {
    display: flex;
    flex-direction: column;
    margin-right: 56px;
  }
}
@media screen and (min-width: 1025px) {
  .sexPhotoBlock {
    display: flex;
    flex-direction: column;
    margin-right: 72px;
  }
}

.myСomponent.dark .labelAddPhoto {
  color: #b2abab;
}

.myСomponent.dark .labelComments {
  color: #b2abab;
  background-color: transparent;
}

.myСomponent.dark .inputComments::placeholder {
  color: #b2abab;
}

.myСomponent.dark .inputComments {
  color: #b2abab;
  background-color: transparent;
  border: 1px solid #2f5a5f;
}

.myСomponent.dark {
  background-color: #467c82;
}

.myСomponent.dark .labelSex {
  color: #b2abab;
}

.myСomponent.dark .sexContainer {
  color: #b2abab;
  background-color: transparent;
}

.myСomponent.dark .sexButton {
  color: #b2abab;
}

.myСomponent.dark .sexButtonChoosed {
  color: #00c3ad;
}

.myСomponent.dark .label {
  color: #b2abab;
}

.myСomponent.dark .input {
  color: #d9d2d2;
  background-color: transparent;
  border: 1px solid #2f5a5f;
}

.myСomponent.dark .input::placeholder {
  color: #b2abab;
}

.myСomponent.dark .labelCommentsSell {
  color: #b2abab;
}

.myСomponent.dark .inputComments {
  color: #d9d2d2;
}

.myСomponent.dark .inputCommentsLost::placeholder {
  color: #b2abab;
}

.myСomponent.dark .inputCommentsLost {
  color: #d9d2d2;
  background-color: transparent;
  border: 1px solid #2f5a5f;
}
