.footer {
  position: relative;
  border-top: 2px solid var(--orange-color);

  background-color: transparent;
  padding-top: 40px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerContent {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.footerSection {
  width: 45%;
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.logo.mobile {
  position: absolute;
  top: 10px;
  left: 80%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .logo {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

.titleFooter {
  font-size: 24px;
  color: var(--orange-color);
}

.titleCard {
  color: var(--blue-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.link {
  color: var(--dark-color);
  line-height: 1.5;
}

.iconContainer {
  border-radius: 50%;
  transform: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconContainer:hover {
  transform: scale(1.2);
}

.modalOpenButton {
  background-color: #54adff;
  color: var(--fon-color);
  border: none;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  animation: pulse-animation 2s ease-in-out infinite;
}

.modalOpenButton:hover {
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: var(--fon-color);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.titleCard {
  color: var(--blue-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.developersContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.developerCard {
  background-color: var(--white-color);
  border-radius: 0px 0px 40px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.developerCard:hover,
.developerCard:focus {
  box-shadow: 7px 13px 14px rgba(116, 177, 232, 0.24);
}

.developerPhoto {
  background: url('../../images/team-photos/default.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .developersContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .developerPhoto {
    height: 200px;
  }
}

@media screen and (min-width: 769px) {
  .developersContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }
  .developerPhoto {
    height: 250px;
  }
  /* .footer {
    margin-top: 60px;
  } */
}

@media screen and (min-width: 1200px) {
  .developersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.name {
  color: var(--orange-color);
  font-size: 18px;
  margin-bottom: 5px;
}

.text {
  color: var(--dark-color);
  font-size: 18px;
  margin-bottom: 5px;
}

.socialLinks {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

@media screen and (max-width: 768px) {
  .footerContent {
    margin-left: 0;
  }
  .text {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footerContent {
    margin: 0;
    justify-content: center;
  }
  .footerSection {
    width: 100%;
    /* margin-bottom: 20px; */
  }
  .titleFooter {
    font-size: 20px;
  }
  .titleCard {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .modalOpenButton {
    font-size: 14px;
    padding: 8px 16px;
  }

  .name {
    font-size: 16px;
  }
  .text {
    font-size: 16px;
  }
}

.myСomponent.dark .titleFooter {
  color: #c3bfbf;
}
.myСomponent.dark .text {
  color: #c3bfbf;
}

.myСomponent.dark .modalOpenButton {
  color: #c9c7c7;
  background-color: #417075;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.myСomponent.dark .modalOpenButton:hover {
  background: linear-gradient(290.46deg, #55787c 0%, #64999e 107.89%);
  color: #d9d2d2;
}

.myСomponent.dark .developerCard {
  color: #c9c7c7;
  background-color: #467c82;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
}
