.titleDelete {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #111111;

  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .titleDelete {
    font-size: 36px;
    line-height: 49px;
    margin-top: 60px;
  }
}

.modalApprove {
  width: 280px;
  /* height: 354px; */
}

@media (min-width: 768px) {
  .modalApprove {
    width: 608px;
  }
}

.modalBtnContainer {
  display: flex;
  justify-content: center;
}

p {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.01em;

  color: #000000;

  max-width: 393px;
  margin-right: auto;
  margin-left: auto;

  margin-bottom: 44px;
}

@media (min-width: 768px) {
  text {
    font-size: 24px;
    line-height: 33px;
    margin-top: 52px;
    margin-bottom: 60px;
  }
  .modalBtn {
    display: flex;
  }
}

.modalBtn {
  /* display: flex; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  margin-right: 167 px;
  margin-left: 7px;
  width: 129px;
  height: 40px;
  background: #54adff;
  outline: none;
  border: transparent;
  border-radius: 40px;
  color: #fef9f9;
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 60px;
  cursor: pointer;
}

.modalIcon {
  fill: #fef9f9;
  width: 24px;
  height: 24px;
  margin-left: 12px;
  /* position: absolute; */
  /* width: 24px;
    height: 20.97px; */
  /* left: 5.56px;
    top: -2.59px; */
  transform: rotate(180deg);
}

.whiteBtn {
  background-color: white;
  color: #54adff;
  border: 2px solid #54adff;
  margin-right: 17px;
}
